$colorLightest: #fff;
$colorLight: #f8f9fa;
$colorHighlight: #f85c70;
$colorHighlightDark: #e43d40;
$colorDisabled: #cacaca;
$colorDarker: #ddd;
$colorDarker2: #444;
$colorMain: #646464;
$colorDarkest: #1a1a1a;
$colorBorder: #e1e1e1;
$colorButtonBg: #f2f2f2;
$colorFeature: #17a2b8;
$colorStar: #ffb400;
