@import "../variables";
@import "../mixins";

body {
	margin: 0;
  padding: 0;
  background-color: $colorLight;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}

.wrapper {
  margin: 70px 0;
}

.tablet-minus {
  display: block;
}

.notebook-plus {
  display: none;
}

.box {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

.block-title {
  margin: 0;
  padding: 12px 30px;
  @include h2;
  border-bottom: 1px solid $colorBorder;
}

.price {
  display: none;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .container-elastic {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .container-elastic {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .wrapper {
    .container {
      display: flex;
      justify-content: space-between;
    }
  }

  .container {
    max-width: 960px;
  }

  .content {
    width: 616px;
  }

  .notebook-plus {
    display: block;
  }

  .tablet-minus {
    display: none;
  }

  .price {
    display: block;
    margin-bottom: 25px;
    padding: 20px 30px;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    color: $colorLightest;
    background-color: $colorHighlight;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .content {
    width: 877px;
  }
}
